1. Выберите наиболее точное описание назначения рассмотренных в уроке библиотек
 - NumPy - для более быстрых вычислений, работы с многомерными массивами и некоторых других полезных вещей (например, генерации случайных чисел). SciPy для более высокоуровневых задач - применения методов из линейной алгебры, матстатистики, оптимизации. Matplotlib - для построения графиков и диаграмм. Pandas - для удобной работы с выборками данных как с таблицами.

2. В какой библиотеке находится модуль optimize с инструментами для решения оптимизационных задач?
 - Scipy

3. Объект x имеет тип numpy.ndarray, какие из перечисленных операций могут при определенных условиях работать с ним?
 - x[2][3] (+) 
 - x[2, 3] (+)
 - x[2 3] (-)
 - x["2, 3"] (-)
 - x[3:4]  (+)

In [12]:
import numpy as np

x = np.ndarray((4 ,4), dtype=int)
print x

[[31129632        0 51069136        0]
 [58458960        0 30971136        0]
 [30971136        0 48815440        0]
 [30723408        0        0        0]]

In [16]:
print x[2][3]

0

In [19]:
print x[2, 3]

0

In [21]:
print x[3:4]

[[30723408        0        0        0]]

4. Объект frame имеет тип pandas.DataFrame(). К чему приведет применение функции fillna() к объекту frame, в случае вызова функции со следующими параметрами: frame.fillna('', inplace=True)?  
 - Все пропущенные значения в frame будут заменены на пустую строку.

5. Объект frame имеет тип pandas.DataFrame(). Какую информации о frame не предоставляет метод info()? (рассматривается pandas версии старше 0.15)  
 - Объем памяти, требуемый для хранения frame (+)
 - Тип каждого из столбцов frame (+)
 - Минимальное и максимальное значение в разрезе столбцов (-)
 - Количество заполненных (non-null) значений в разрезе столбцов  (+) 
 - Количество заполненных (non-null) значений в разрезе строк  (-)

In [28]:
import pandas as pd
pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.16.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.24.2
pytest: None
pip: 19.1.1
setuptools: 41.0.1
Cython: None
numpy: 1.16.3
scipy: 1.2.1
pyarrow: None
xarray: None
IPython: 5.8.0
sphinx: None
patsy: None
dateutil: 2.8.0
pytz: 2019.1
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: 2.2.3
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml.etree: None
bs4: None
html5lib: None
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.10.1
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

In [29]:
frame = pd.read_csv('data_sample_example.tsv', header=0, sep='\t')

In [32]:
frame['some'] = 0, 1, 2, 3, 4, 5

In [33]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
Name        6 non-null object
Birth       6 non-null object
City        6 non-null object
Position    4 non-null object
some        6 non-null int32
dtypes: int32(1), object(4)
memory usage: 288.0+ bytes

In [34]:
frame

              Name       Birth       City  Position  some
0      Иванов А.А.  22.03.1980     Москва       NaN     0
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     1
2       Белов М.М.  13.02.1980     Ростов  менеджер     2
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     3
4      Рыбина Е.П.  19.11.1985     Москва   инженер     4
5     Костров С.О.  31.05.1985     Москва    стажер     5