Представим, что международное круизное агентство Carnival Cruise Line решило себя разрекламировать с помощью баннеров и обратилось для этого к вам. Чтобы протестировать, велика ли от таких баннеров польза, их будет размещено всего 20 штук по всему миру. Вам надо выбрать 20 таких локаций для размещения, чтобы польза была большой и агентство продолжило с вами сотрудничать.

Агентство крупное, и у него есть несколько офисов по всему миру. Вблизи этих офисов оно и хочет разместить баннеры — легче договариваться и проверять результат. Также эти места должны быть популярны среди туристов.

In [168]:
adreses = (
    (33.751277, -118.188740),
    (25.867736, -80.324116),
    (51.503016, -0.075479),
    (52.378894, 4.885084),
    (39.366487, 117.036146),
    (-33.868457, 151.205134)
)

In [79]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.cluster import MeanShift

In [160]:
df = pd.read_csv("checkins.dat", sep="|")
df.columns = list(map(lambda x: x.strip(), df.columns))
df.drop(axis=0, index=1021966, inplace=True)
df = df[df.latitude != '                   ']

In [161]:
df.drop("id user_id venue_id created_at".split(), axis=1, inplace=True)

In [162]:
df.latitude = df.latitude.astype(float);
df.longitude = df.longitude.astype(float);

In [179]:
df.head()

     latitude   longitude
1   38.895112  -77.036366
3   33.800745  -84.410520
7   45.523452 -122.676207
9   40.764462 -111.904565
10  33.448377 -112.074037

In [170]:
train_df = df[:100000]
X_train = train_df.values

In [171]:
X_train.shape

(100000, 2)

In [166]:
mean_shift = MeanShift(bandwidth=0.1)

In [172]:
%%time
mean_shift.fit(X_train)

Wall time: 2min 42s

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [203]:
train_df["clusters"] = mean_shift.predict(X_train)

In [230]:
clusters_size = train_df.clusters.value_counts()

In [237]:
clusters = pd.concat(
    (pd.DataFrame(
        mean_shift.cluster_centers_,
        columns="latitude_center longitude_center".split()),
     clusters_size),
    axis=1
)
clusters = clusters[clusters.clasters > 15]

In [241]:
clusters['length'] = float("inf")

In [242]:
clusters

      latitude_center  longitude_center  clasters  length
0           40.717716        -73.991835     12506     inf
1           33.449438       -112.002140      4692     inf
2           33.446380       -111.901888      3994     inf
3           41.878244        -87.629843      3363     inf
4           37.688682       -122.409330      3526     inf
5           38.886165        -77.048783      2409     inf
6           33.357345       -111.822654      2297     inf
7           33.766636        -84.393289      1601     inf
8           42.363219        -71.073688      1526     inf
9           47.606245       -122.332044      1378     inf
10          36.117229       -115.171073      1298     inf
11          34.060398       -118.248709      1081     inf
12          44.977948        -93.267301      1006     inf
13          30.267184        -97.743119      1007     inf
14          40.766876        -73.833353       714     inf
15          39.735830       -104.986580       868     inf
16          39.951680        -75.162736       870     inf
17          34.035487       -118.438998       645     inf
18          32.980893       -117.078118       808     inf
19          32.803021        -96.769897       807     inf
20          37.347871       -121.947287       612     inf
21          28.543502        -81.376429       722     inf
22          32.711344       -117.153639       754     inf
23          32.221713       -110.926535       747     inf
24          34.127402       -118.351884       539     inf
25          29.762698        -95.382314       656     inf
26          43.040533        -87.914333       580     inf
27          33.817306       -117.891249       577     inf
28          37.390292       -122.087286       679     inf
29          25.785812        -80.217938       564     inf
...               ...               ...       ...     ...
571        -33.050462        -71.616452        17     inf
572         60.169954         24.937730        16     inf
573         50.111512          8.680506        16     inf
575         44.058173       -121.315310        16     inf
576         43.685271        -79.759924        16     inf
577         43.680856        -72.287952        16     inf
578         43.096171        -88.402632        16     inf
579         42.765354        -78.782601        16     inf
581         42.115474        -79.286368        16     inf
582         42.059813        -70.951257        22     inf
583         41.641871        -88.051727        26     inf
584         41.634591        -72.635234        17     inf
585         41.255845        -75.887471        19     inf
588         38.041182       -122.150053        16     inf
589         37.270702        -76.707457        16     inf
590         37.204643        -80.412689        16     inf
591         36.825228       -119.702919        16     inf
592         35.528078       -108.742584        16     inf
593         34.935238        -82.234904        16     inf
594         32.319940       -106.763654        16     inf
595          9.958968        -84.105633        16     inf
615         30.408167        -86.528320        17     inf
636         35.111360        -89.797982        18     inf
657         41.486201        -70.597742        16     inf
672         32.598960        -96.895365        16     inf
684         41.577224        -73.415723        19     inf
727         41.220398        -73.666619        26     inf
884         41.618532        -88.445568        23     inf
1343        39.249469        -77.182127        21     inf
1350        38.658779        -76.885687        19     inf

[592 rows x 4 columns]